* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --UVpadding: 5px;
}

nav {
    text-align: center;
    font-size: 45px;
    background-color: rgb(14, 14, 47);
    color: white;
    width: 100%;
    padding: 10px;
}

.btn-primary {
    padding: 15px 15px 15px 15px;
}

.list-item {
    line-height: 1px;
}

.low {
    padding: var(--UVpadding);
    background-color: green;
    color: black;
}

.moderate {
    padding: var(--UVpadding);
    background-color: yellow;
    color: black;
}

.high {
    padding: var(--UVpadding);
    background-color: orange;
    color: white;
}

.very-high {
    padding: var(--UVpadding);
    background-color: red;
    color: white;
}

.extreme {
    padding: var(--UVpadding);
    background-color: rgb(53, 11, 74);
    color: white;
}